extends main

block content
    //- div#hyunjibackground
    //-     img.className#hyunjibackgroundimg(src="/images/background1.jpg")
    link(rel="stylesheet", href="/hyonzi.css")
    //- #centerDiv
    //-     a#hyonziMenu_1  
    //-         span.hyonziMenu 한일 교류회   
    //-     a#hyonziMenu_2
    //-         span.hyonziMenu 일본인 친구 사귀기
    //-     a#hyonziMenu_3
    //-         span.hyonziMenu 조별 여행
    //-     a#hyonziMenu_4
    //-         span.hyonziMenu 오봉 연휴
    //-     a#hyonziMenu_5        
    //-         span.hyonziMenu GMO 견학
    //-     a#hyonziMenu_6
    //-         span.hyonziMenu 봉사 활동
    //-     a#hyonziMenu_7    
    //-         span.hyonziMenu 문화 탐방
    div#shadow
        div#hyunjikanban
            h1 현지학기제 소개
            img#back(src="https://thumb-wishbeen.akamaized.net/58OR41IU3g9JDHAa2l7S0DCJEDI=/898x420/smart/filters:no_upscale()/img-wishbeen.akamaized.net/spot/1379340931611_800px-Canal_City_Hakata_2011.jpg")
            div#p
                p 2019년 
                p 현지학기제
                p Comming Soon
                p 08.03 ~ 09.12
        div#hyunjisyou
            div#syoukai         
                h1#htop 현지학기제란?
                p 2010년 부터 시작하여, 일본 IT기업주문반 
                p 학생들을 대상으로 일본생활 적응력 향상 및
                p 학생들의 취업 의욕을 제고하기 위해, 여름방학 
                p 기간 동안 일본 후쿠오카에서 약 6주동안  
                p 생활하며 일본어 교육, 일본문화 탐방, 일본기업 
                p 견학 등의 활동을 통해 일본 취업&amp;생활에
                p#pbot  필요한 여러 능력들을 기르는 해외연수
            div#syoimg
                img(src="/images/fukuoka.jpg")
        div#hyunjimoku
            div#mokuimg
                img#hasiri(src="https://img.hankyung.com/photo/201903/AA.19150573.1.jpg")
            div#mokuteki
                h1 현지학기제 목적
                p 일본어 능력 향상
                p 일본 현지 체험과 적응
                p 일본인들과 교류를 
                p 일본 취업&amp;생활에 관한 정보 수집
                p#pbot 일본 취업에 대한 새로운 마음가짐  
        div#hyunjinittei
            div#jikannwari
                h1 현지학기제 하루 일과표
                p 6시&nbsp;  ~ &nbsp;7시 - 기상 및 집합준비
                p 7시&nbsp;  ~ &nbsp;9시 - 집합 후 체조, 아침식사 후 수업준비
                p 9시  ~ 12시 - 일본어 수업
                p 12시 ~ 1시 - 점심시간
                p 1시&nbsp;  ~ &nbsp;4시 - 일본어 수업
                p 4시&nbsp;  ~ &nbsp;6시 - 전공공부
                p 6시  ~ 10시 - 저녁 및 자유시간!
                p#pbot 10시 ~ 6시 - 취침시간
            div#wariimg
                img#suke(src="/images/schedule.png")
        div#hyunjikatsudou
            h1 현지학기제  주요 활동
        div
        #grid
            label#hyonziMenu_1.inline   한일 교류회
            label#hyonziMenu_2.inline   일본인 친구<br>사귀기
            label#hyonziMenu_3.inline   조별 여행
            label#hyonziMenu_4.inline   오봉 연휴
            label#hyonziMenu_5.inline   GMO 견학
            label#hyonziMenu_6.inline   봉사 활동
            label#hyonziMenu_7.inline   문화 탐방
        br
        label#hyonzi_MB
        div#hyonziBody
            label 내용
            img
    script(src="/hyonzi.js")
