extends main

block content
    #centerDiv
        div#qnaAllTilte
            label#qnaAll_css 전체 질문 목록
        div#flax
            div#pre       
                form#toPre
                    button(type="submit") 이전
            div#qnaAll_Div
                div
            div#nextQna
                form#toNext
                    button(type="submit") 다음
    script(src="/qnaAll.js")
        
        